@font-face{
	font-family:'klavika';
	src:url('../font/klavika-regular.otf') format('opentype');
}

.gallery-container{
	position:relative;
	margin:auto;
	width: 1170px;
}

.gallery-imgs-container{
	height: 427px;
	margin:auto;
	overflow:hidden;
	position: relative;
	width:959px;
}

.gallery-imgs{
	font-size: 0px;
	margin:0;
	margin-left: 0;
	transition: margin-left 2s; 
	width:3000px;
}

.gallery-img-container{
	display:inline;
}

.gallery-prev, .gallery-next{
	background-image: url('../img/gallery/sprite-gallery.png');
	background-repeat: no-repeat;
	cursor:pointer;
	height:68px;
	margin-top:-34px;
	position:absolute;
	top:50%;
	width:43px;
}

.gallery-more{
	color:#FFFFFF;
	background-color:#EE008D;
	display: inline-block;
	font-family: 'klavika';
	font-size: 21px;
	height:29px;
	margin-top:-6px;
	padding-left:18px;
	padding-top:6px;
	position:absolute;
	text-decoration: none;
	top: 50%;
	right: 0;
	width: 149px;
}


.gallery-more::after{
	content:'';
	background-image: url('../img/gallery/sprite-gallery.png');
	background-position: 0 -312px; width: 14px; height: 16px;
	display: inline-block;
}

.gallery-prev{
	background-position: 0 -78px;
}

.gallery-prev:hover{
	background-position: 0 0;
}

.gallery-next{
	background-position: 0 -234px;
	right:0;
}

.gallery-next:hover{
	background-position: 0 -156px;
}

.sprite.more-row { background-position: 0 -312px; width: 14px; height: 16px; } 

