ul{
	list-style:none;
	padding-left:0px;
}

ul a{
	text-decoration:none;
}

#container{
	margin: auto;
	position: relative;
	width: 1300px;
}


.inner-width{
	margin:auto;
	width:960px;
}

.copyright{
	text-align: center;
}
.site-logo{
	background: url("../img/sprite.png") no-repeat -234px 0;
	display:block;
	float:left;
	height:48px;
	margin-right:95px;
	text-indent: -9999px;
	width: 216px;
}

.search-container{
	float: right;
	height: 26px;
}

.search{
	background-color: #EEEEEE;
	border: none;
	height: 23px;
    width: 165px;
    padding-left: 10px;
    vertical-align: top;
}
.search-img{
	background: url("../img/sprite.png") no-repeat -198px 0;
	display:inline-block;
	height: 26px;
	width: 26px;
}
::-webkit-input-placeholder { color:#004964; }
::-moz-placeholder { color:#004964; } /* firefox 19+ */
:-ms-input-placeholder { color:#004964; } /* ie */
input:-moz-placeholder { color:#004964; }
.menu-first{
	color: #004964;
	float: left;
	text-transform:uppercase;
	width: 426px;
}
.menu{
	font-family: 'Hammersmith One', sans-serif;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
}
.item-container{
	float:left;
}
.item{
	cursor:pointer;
	float: left;
	font-size: 20px;
	margin-right: 37px;
}

.item-last{
	margin: 0px;
}

.item:hover + .items-sub-menu{
	display:block;
}

.items-sub-menu{
	background-color: #ECEEEF;
	border: 1px solid #CCCCCC;
	display: none;
	position: absolute;
	font-size: 14px;
	min-width: 140px;
	padding: 12px;
	top: 32px;
    z-index: 1;
}

.items-sub-menu::before {
	background: url('../img/sprite.png') no-repeat -460px 0;
	content: "";
	height: 7px;
	position: absolute;
	top: -7px;
	width: 27px;
}

#gallery{
	clear: both;
}

.middle-bar{
	background-color: #004964;
	height:60px;
}

.middle-bar-container{
	position:relative;
	top:20px;
}


.social-links-section{
	float: right;
}

.item-link-middle, .social-link{
	color:#FFFFFF;
	float: left;
	font-size: 15px;
	text-decoration: none;
	text-transform:uppercase;
}

.social-link{
	text-indent:-9999px;
}

.social-links-follow{
	color:#FFFFFF;
	font-family: 'Hammersmith One', sans-serif;
	vertical-align: top;
}

.social-links{
	display: inline-block;
	list-style:none;
    margin: 0px;
    padding: 0px;
    width: 192px;
}

.sprite { background: url('../img/sprite.png') no-repeat top left; width: 23px; height: 23px; margin-left:9px; } 
.sprite.social-link-twitter { background-position: 0 0; } 
.sprite.social-link-facebook { background-position: -33px 0; } 
.sprite.social-link-youtube { background-position: -66px 0; } 
.sprite.social-link-linkedin { background-position: -99px 0; } 
.sprite.social-link-google-plus { background-position: -132px 0; } 
.sprite.social-link-rss { background-position: -165px 0; } 
 
.article{
	color:#646062;
	font-family: 'Hammersmith One', sans-serif;
    float: left;
    margin:32px 0px;
    text-align: center;
    width: 30%;
 }

.article-title-container{
	margin-top:0px;
}

.article-title{
	color:#004964;
	font-size:30px;
	font-weight:normal;
	text-decoration:none;
	text-transform: capitalize;
}

.article-first{
	margin-right: 2.5%;
}

.article-middle{
	border-left:1px solid #C1C1C1;
	border-right:1px solid #C1C1C1;
	padding: 0 2.3%;
}

.article-last{
	margin-left:2.5%;
}

.footer{
	background-color:#EBEBEB;
    clear: both;
}

.footer-section{
	float:left;
	width:16%;
}

.footer-section-title{
	border-bottom:1px solid #C1C1C1;
	color:#16a5c7;
	display:block;
	font-family: 'Hammersmith One', sans-serif;
	font-size:19px;
	margin-bottom:22px;
	margin-top:32px;
	padding-bottom:16px;
	text-transform: capitalize;
}


.footer-link{
	color:#707070;
	display:inline-block;
	font-family: 'Hammersmith One', sans-serif;
	font-size:15px;
	margin-bottom:20px;
}

.copyright{
	background-color:#494949;
	clear:both;
	color:#FFFFFF;
	height:56px;
}

.copyright-text{
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
    position: relative;
    top: 18px;
}