body{
		margin: 0;
	}

ul{
	list-style:none;
	padding-left:0px;
}

ul a{
	text-decoration:none;
}

#container{
	margin: auto;
	position: relative;
	width: 1300px;
}


.inner-width{
	margin:auto;
	width:960px;
}

.copyright{
	text-align: center;
}
.header-bar{
	height: 56px;
	margin-bottom: 34px;
}
.site-logo{
	background: url("../img/sprite.png") no-repeat -234px 0;
	display:block;
	float:left;
	height:48px;
	margin-right:94px;
	text-indent: -9999px;
	width: 216px;
}

.search-container{
	float: right;
	margin-top: 12px;
	height: 26px;
}

.search{
	background-color: #EEEEEE;
	border: none;
	color:#004964;
	height: 23px;
    width: 165px;
    padding-left: 10px;
    vertical-align: top;
}
.search-img{
	background: url("../img/sprite.png") no-repeat -198px 0;
	display:inline-block;
	height: 26px;
	width: 26px;
}

.menu-collapse{
	display: none;
}

::-webkit-input-placeholder { color:#004964; }
::-moz-placeholder { color:#004964; } /* firefox 19+ */
:-ms-input-placeholder { color:#004964; } /* ie */
input:-moz-placeholder { color:#004964; }
.menu-first{
	color: #004964;
	float: left;
	margin-top: 12px;
	text-transform:uppercase;
	width: 426px;
}
.menu{
	font-family: 'Hammersmith One', sans-serif;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
}
.item-container{
	float:left;
}
.item{
	cursor:pointer;
	float: left;
	font-size: 20px;
	margin-right: 37px;
}

.item-last{
	margin: 0px;
}

.item:hover + .items-sub-menu, .items-sub-menu:hover{
	display:block;
}

.items-sub-menu{
	background-color: #ECEEEF;
	border: 1px solid #CCCCCC;
	display: none;
	position: absolute;
	font-size: 14px;
	min-width: 140px;
	padding: 12px;
	top: 32px;
    z-index: 1;
}

.items-sub-menu::before {
	background: url('../img/sprite.png') no-repeat -460px 0;
	content: "";
	height: 7px;
	position: absolute;
	top: -7px;
	width: 27px;
}

#gallery{
	clear: both;
}

.middle-bar{
	background-color: #004964;
	height:60px;
}

.middle-bar-container{
	position:relative;
	top:22px;
}


.social-links-section{
	float: right;
}

.item-link-middle, .social-link{
	color:#FFFFFF;
	float: left;
	font-size: 15px;
	text-decoration: none;
	text-transform:uppercase;
}

.item-link-middle{
	margin-right: 34px;
}

.social-link{
	text-indent:-9999px;
}

.social-links-follow{
	color:#FFFFFF;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 13px;
	vertical-align: top;
}

.social-links{
	display: inline-block;
	list-style:none;
    margin: 0px;
    padding: 0px;
    width: 183px;
}

.sprite { background: url('../img/sprite.png') no-repeat top left; width: 23px; height: 23px; margin-left:7px; } 
.sprite.social-link-twitter { background-position: 0 0; } 
.sprite.social-link-facebook { background-position: -33px 0; } 
.sprite.social-link-youtube { background-position: -66px 0; } 
.sprite.social-link-linkedin { background-position: -99px 0; } 
.sprite.social-link-google-plus { background-position: -132px 0; } 
.sprite.social-link-rss { background-position: -165px 0; } 
 
.article{
	color:#646062;
	font-family: 'Hammersmith One', sans-serif;
    float: left;
    margin:28px 0 21px 0;
    text-align: center;
    width: 288px;
 }

.article-title-container{
	margin-top:0px;
}

.article-title{
	color:#004964;
	font-size:30px;
	font-weight:normal;
	text-decoration:none;
	text-transform: capitalize;
}

.article-first{
	margin-right: 24px;
}

.article-middle{
	border-left:1px solid #C1C1C1;
	border-right:1px solid #C1C1C1;
	padding: 0 22px;
}

.article-last{
	margin-left:24px;
}

.bold{
	color: #004964;
}

.aticle-paragraph {
	font-size: 14px;
    margin-top: 7px;
}

.footer{
	background-color:#EBEBEB;
    clear: both;
}

.footer-section{
	float:left;
	width:16%;
}

.footer-section-title{
	border-bottom:1px solid #C1C1C1;
	color:#16a5c7;
	display:block;
	font-family: 'Hammersmith One', sans-serif;
	font-size:19px;
	margin-bottom:8px;
	margin-top:28px;
	padding-bottom:16px;
	text-transform: capitalize;
}


.footer-link{
	color:#707070;
	display:inline-block;
	font-family: 'Hammersmith One', sans-serif;
	font-size:15px;
	padding-bottom:13px;
}

.copyright{
	background-color:#494949;
	clear:both;
	color:#FFFFFF;
	height:56px;
}

.copyright-text{
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
    position: relative;
    top: 18px;
}


@media (max-width: 768px){
	body{
		margin: 8px 0;
	}
	#container, .inner-width, .gallery-container, .gallery-imgs-container, .article{
	    margin: 0;	    
	    width: 100%;
    }

    .search-container, .middle-bar{
    	display: none;
    }

    .menu-collapse{
    	border: none;
    	border-radius:4px;
	    display: block;
	    float: right;
	    background: url('../img/sprite.png') no-repeat -492px 6px;
	    padding: 17px;
	    width: 24px; height: 24px;
    }

    .menu-collapse:hover, .footer-section:hover{
    	background-color: #DDDDDD;    	
    }

    .menu-first{
    	display:none;
    	background-color: #EBEBEB;
    	margin: 10px 0 0 0;    	
    	transition: height 1s;
    	width: 100%;
    }
    .site-logo{
    	margin-right: 0;
    	margin-left: 8px;
    }
    .item, .item-container{
    	float: none;
    }

    .item-container{
    	border-bottom: 1px solid #C1C1C1;
    	padding: 10px;
    }

    .item{
    	display: block;
    }

    .item-container:hover{
        background-color: #DBDBDB;
    }

    .items-sub-menu{
    	border: none;    	
    	display:block;
    	padding:0;
    	position: inherit;
    	top: 0;
    }
    .items-sub-menu::before{
    	background: none;
		content: "";
		height: 0;
		position: relative;
		top: 0;
		width: 0;
    }

    .item-link{
    	border-bottom: 1px solid #C1C1C1;
    	display: block;
    	padding: 1px 5px;
    }
    .item-link:hover, .footer-link:hover{
    	background-color: #D1D1D1;
    }
    .article{
    	float: none;
    	padding: 0;
    }
    .article-middle{
    	border: none;
    }
    .footer-section{
    	cursor: pointer;
    	float: none;
    	padding: 5px 0 5px 1%;
    	width: 99%;
    }

    .footer-link{
    	display: block;;
    }
    
    .footer-section-links{
    	display: none;
    }
}